{% extends 'base.html.twig' %}

{% block title %}Mon compte - Tout Pour La Gratte{% endblock %}

{% block body %}
<div class='container-list'>
    <h1 class=title>Modifier mon mot de passe</h1>
    <a href='{{ path('account') }}'>Retourner à mon compte</a>
    <hr>
    {% if success %}
    <div class='alert notification'>{{ success }}</div>
    {% endif %}

{{ form_start(form, {'attr': {'class':'contact-form'}}) }}
    <div class='row'>
        <div class='col-md-6'>
            {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class':'form-label'}}) }}
            {{ form_widget(form.firstname, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class='col-md-6'>
            {{ form_label(form.lastname, 'Nom', {'label_attr': {'class':'form-label'}}) }}
            {{ form_widget(form.lastname, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class='col-md-6'>
            {{ form_label(form.email, 'Email', {'label_attr': {'class':'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class='col-md-6'>
            {{ form_label(form.old_password, 'Ancien mot de passe', {'label_attr': {'class':'form-label'}}) }}
            {{ form_widget(form.old_password, {'attr': {'class':'form-control', 'placeholder': 'Saisir le mot de passe actuel'}}) }}
        </div>
        <div class='col-md-6'>
            {{ form_label(form.new_password.first, 'Nouveau mot de passe', {'label_attr': {'class':'form-label'}}) }}
            {{ form_widget(form.new_password.first, {'attr': {'class':'form-control', 'placeholder':'Votre nouveau mot de passe'}}) }}
        </div>
        <div class='col-md-6'>
            {{ form_label(form.new_password.second, 'Confirmation nouveau mot de passe', {'label_attr': {'class':'form-label'}}) }}
            {{ form_widget(form.new_password.second, {'attr': {'class':'form-control', 'placeholder':'Confirmez votre nouveau mot de passe'}}) }}
        </div>
        <div class='error'>
            {{ form_errors(form.new_password.first) }}
            {{ form_errors(form.new_password.second) }}
        </div>
        <div class='col-md-12'>
            {{ form_widget(form.submit, {'attr': {'class':'btn submit'}}) }}
        </div>
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}